@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Urbanist';
  src: url('/src/assets/fonts/Urbanist/static/Urbanist-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Urbanist';
  src: url('/src/assets/fonts/Urbanist/static/Urbanist-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Urbanist';
  src: url('/src/assets/fonts/Urbanist/static/Urbanist-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}